body {
  padding: 0;
}

.navbar-brand {
  height: 100%;
  padding: 0;
  margin: 0 5px 0 0; 
}

.feeds .thumbnail img {
	width: 100%;
	height: 100%;
}
.details img {
	max-width: 100%;
}
.details iframe {
	max-width: 100%;
}
.details table {
	width:auto;
}
.feeds .thumbnail {
	background: #373B3E;
	overflow: hidden;
	position: relative;
	height: 200px;
	width: 240px;
	padding: 0;
}
.feeds .thumbnail a {
	color: #196db0;
}
.feeds .thumbnail .caption {
	background: #373B3E;
	color: #fff;
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	position: absolute;
	opacity: 0;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.feeds .thumbnail:hover .caption {
	opacity: 1;
	transition: transform 0.4s, opacity 0.1s;
}